.section-subtitle {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.join__section-subtitle {
  margin-bottom: 20px;
}

.footer-submit__section-subtitle {
  margin-bottom: 20px;
}