:root {
  /* Цвета шрифта */
  --primary-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196F3;
  --accent-button-color: #fff;
  --hero-title-color: #fff;
  --business-txt-col: #fff;

  --modal-btn-close: #000000;


  --portf-overlay-txt: #fff;
  --footer-font-color: #fff;
  --link-footer-color: rgba(255, 255, 255, 0.6);

  /* Цвета фона */
  --primary-bgr-color: #fff;
  --accent-bgr-color: #2196F3;
  --hero-butt-active: #188CE8;
  --border-custom-active: #188CE8;
  --bgr-custom-active: #188CE8;
  --hero-bgr-color: #C4C4C4;
  --modal-bgr-color: #fff;
  --modal-btn-bgr: #fff;


  --advant-iconbgr-col: #F5F4FA;

  --icon-bgr-color: #fff;
  --icon-color: #AFB1B8;

  --business-txt-bgr: rgba(47, 48, 58, 0.8);

  --clients-icon-bgr-col: #fff;
  --clients-icon-color: #AFB1B8;
  --clients-border-col: #AFB1B8;

  --portf-overlay-bgr: rgba(33, 150, 243, 0.9);

  --footer-bgr-color: #2F303A;
  --footer-icon-color: #fff;
  --team-bgr-color: #F5F4FA;
  --filter-butt-bgr-col: #F5F4FA;
  /* Цвет рамок */
  --border-bottom-header: #ECECEC;
  --border-bottom-card: #EEEEEE;

  /* Шрифты */
  --primary-font: "Roboto";
  --secondary-font: "Raleway";
}





