.footer {
  padding: 60px 0;

  color: var(--footer-font-color);
  background-color: var(--footer-bgr-color);
}

.footer-set {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    text-align: left;
  }




  &__logo-address {
    // width: 232px;
    width: 100%;
    // text-align: center;
    // outline: 2px solid red;

    @media screen and (min-width: 768px) {
      width: 232px;
      margin-left: 76px;        
    }

    @media screen and (min-width: 1200px) {
      margin-left: 0;
    }


  }

  &__social-link {
    // width: 206px;
    width: 100%;
    // outline: 2px solid red;

    @media screen and (min-width: 768px) {
      width: 206px;
      margin-left: 165px;
      margin-top: 5px;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 70px;
      margin-top: 12px;
    }


  }

  &__submit {
    flex-direction: column;
    // width: 450px;
    width: 100%;
    // outline: 2px solid red;

    @media screen and (min-width: 768px) {
      width: 450px;
      margin-left: 166px;
    }

    @media screen and (min-width: 1200px) {
      width: 570px;
      margin-left: 93px;
      margin-top: 12px;
    }
  }




}

// Footer Contacts
.footer-contacts-set {
  font-style: normal;
  list-style: none;
  padding: 0;
  margin-top: 20px;

  &__item:not(:first-child) {
    margin-top: 9px;
  }
  
  &__address {
    margin: 0;
  
    /* font-weight: 400; */
    /* font-size: 14px; */
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  
  &__link {
    color: var(--link-footer-color);
    text-decoration: none;
  
    /* font-weight: 400; */
    /* font-size: 14px; */
    line-height: 1.71;
    letter-spacing: 0.03em;
  
    @include transition ($property: color);
    // transition-property: color;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }
}

// Footer Join

.social-net__icon--different-colors {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--footer-icon-color);
}

// Footer - Submit


.submit-set {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;

  @media screen and (min-width: 1200px) {
    display: flex;;
  }

  &__email-form {
    // width: 450px;
    height: 50px;
    margin: 20px auto;
    /* padding: 0; */
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--footer-bgr-color);

    @media screen and (min-width: 1200px) {
      width: 358px;
      margin: 0;
    }

  }
  
  &__email-input {
    width: 100%;
 
    padding: 15px 0px 15px 16px;
    background-color: var(--footer-bgr-color);
    border: transparent;
    outline: transparent;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
  }
  
  &__email-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

    // Footer - Submit button
  &__button-container {
    position: relative;
    width: 200px;
    height: 50px;
      margin-left: auto;
        margin-right: auto;

    @media screen and (min-width: 1200px) {
        margin-left: 12px;
      }


  }
  
  &__button {
    padding: 10px 62px 10px 29px;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
  
    color: var(--footer-font-color);
    background-color: var(--accent-bgr-color);
    border-color: var(--accent-color);
    border-radius: 4px;
    border: none;
  }
  
  &__button-icon {
    position: absolute;
    top: 13px;
    right: 28px;
  }
}








