.header-contacts-set {
  display: flex;
  align-items: center;
  /* margin-left: 305px; */
  margin: 0 0 0 305px;
  padding: 0;
  list-style: none;

  &__item {
      display: flex;
  }
  
  &__mail-phone {
    display: flex;
    padding-top: 32px;
    padding-bottom: 31px;

    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 500;
      /* font-size: 14px; */
    line-height: 1.14;
    letter-spacing: 0.02em;
  
    @include transition ($property: color);
    // transition-property: color;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  &__icon {
    fill: currentColor;
    margin-right: 10px;
  }

  &__icon--add-top-marg {
    margin-top: 2px;
  }
  
  &__mail-phone:hover,
  &__mail-phone:focus {
    color: var(--accent-color);
  }
  
  &__item+&__item {
    margin-left: 30px;
  }
}



